<h2><%= l(:label_home) %></h2>

<div class="splitcontentleft">
  <p><%= Setting.welcome_text %></p>
</div>

<div class="splitcontentright">
	<div class="box">
	<h3><%=l(:label_project_laquest)%></h3>
		<ul>
		<% for answer in @answers %>
			<li>
			<%= link_to answer.id, :controller => 'quest2', :action => 'show', :id => answer %> (<%= format_time(project.created_on) %>)<br />
			<%=h project.description %>
			</li>
		<% end %>
		</ul>
	</div>  
</div>	

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:rss, {:controller => 'feeds' , :action => 'news' }) %>
<% end %>