<link rel="stylesheet" href="stylesheets/glider.css" type="text/css" media="screen" charset="utf-8">
<%= javascript_include_tag 'prototype' -%><%= javascript_include_tag 'effects' -%><%= javascript_include_tag 'glider' -%>
<p>
<h3><%= l(:markt_1) %></h3>
</p>
<!-- <div class="splitcontentleft">
  <p><%= Setting.welcome_text %></p>
</div>

<div class="splitcontentright">
</div>   -->
<div id="my-glider">
  <div id="quick_tour">
    <!-- <a href="#" onClick="my_glider.previous();return false;"><img src="../images/left.png" width="21" height="26" alt="left"></a> -->
    <%= l(:markt_presentation) %> <a href="#" onClick="my_glider.next();return false"><img src="../images/right.png" width="21" height="26" alt="right"></a> </div>
  <div class="scroller" align=left>
    <div class="content">
      <div class="section" id="section1">
        <h3><%= l(:mark_concept) %></h3>
        <p>
        <ul>
          <li><%= l(:markt_11) %></li>
          <li><%= l(:markt_12) %></li>
          <li><%= l(:markt_13) %></li>
        </ul>
        </p>
        <div class="cols1_1"> <a href="#"><img src="../images/th_markt_2.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart1','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest1_label_30) %></div>
        </div>
        <div class="cols1_2"> <a href="#"><img src="../images/th_markt_8.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart2','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a><br/>
          <div align=center><%= l(:quest1_label_31) %></div>
        </div>
      </div>
      <div class="section" id="section2">
        <h3><%= l(:mark_role_1) %></h3>
        <p>
        <ul>
          <li><%= l(:markt_2) %></li>
          <li><%= l(:markt_3) %></li>
        </ul>
        </p>
        <div class="cols1_1"> <a href="#"><img src="../images/th_markt_4.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart8','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest11_label_0) %></div>
        </div>
        <div class="cols1_2"> <a href="#"><img src="../images/th_markt_7.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart3','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest3_label_0) %></div>
        </div>
      </div>
      <div class="section" id="section3">
        <h3><%= l(:mark_role_2) %></h3>
        <p>
        <ul>
          <li><%= l(:markt_4_1) %></li>
          <%= l(:markt_4_2) %> <%= l(:markt_4_3) %>
          <li><%= l(:markt_5_1) %> </li>
          </br>
          <%= l(:markt_5_2) %>
          <li> <%= l(:markt_6_1) %> </li>
          <%= l(:markt_6_2) %>
        </ul>
        </p>
        <div class="cols1_1"> <a href="#"><img src="../images/th_markt_6.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart7','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest2_label_0) %></div>
        </div>
        <div class="cols1_2"> <a href="#"><img src="../images/th_markt_10.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart4','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest1_label_32) %></div>
        </div>
      </div>
      <div class="section" id="section4">
        <h3><%= l(:mark_role_3) %></h3>
        <p>
        <ul>
          <li><%= l(:markt_7) %> </li>
          <li><%= l(:markt_8) %> </li>
          <li><%= l(:markt_9) %> </li>
          <li><em><%= l(:markt_10) %>.</em></li>
        </ul>
        </p>
        <div class="cols1_1"> <a href="#"><img src="../images/th_markt_11.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart5','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest8_label_0) %></div>
        </div>
        <div class="cols1_2"> <a href="#"><img src="../images/th_markt_12.png" border="0" alt="Click to launch chart" onClick="window.open('../demo/chart6','chart','status=no,toolbar=no,location=no,scrollbars=no,resizable=no,width=820,height=400');"></a> <br/>
          <div align=center><%= l(:quest12_label_0) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	var my_glider = new Glider('my-glider', {duration:0.5});
</script>
 <%- if request.remote_ip != '127.0.0.1' -%>
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	  //<![CDATA[
	 _uacct = "UA-1545741-8";
	 urchinTracker();
	 //]]>
	</script>
<%- end -%>
