<%=javascript_include_tag 'charts.js' %>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div>  
<center>
  <%= @chart1%>
</center>
<br/>
<div align="left">
 		<h2><%=l(:quest11_label_0)%></h2>
  <h4><%= @user.name+' • '+day_name(@fechado.wday)+" "+@fecha +" • "+l(:label_filled)+' '+distance_of_time_in_words(TzTime.zone.utc_to_local(Time.now),TzTime.zone.utc_to_local(@fechado))+@time_to_fill%></h4>
	<%= render :file => "/messages/show_in_quest.html.erb" %> <br/>
  <h3><span class=<%= '"icon icon-'+@icon[0]+'">' + l(:quest11_label_1) %></span></h3>
  <h4> <%=@advice[0]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[1]+'">' + l(:quest11_label_2) %></span></h3>
  <h4> <%=@advice[1]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[2]+'">' + l(:quest11_label_3) %></span></h3>
  <h4> <%=@advice[2]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[3]+'">' + l(:quest11_label_4) %></span></h3>
  <h4> <%=@advice[3]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[4]+'">' + l(:quest11_label_5) %></span></h3>
  <h4> <%=@advice[4]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[5]+'">' + l(:quest11_label_6) %></span></h3>
  <h4> <%=@advice[5]%> </h4>
  <br/>
  <h2><%=l(:quest2_label_8) %></h2>
  <h3><%= @titulo %></h3>
  <h4><%=@advice[6]%></h4>
</div>
<br/>
<%= render :file => "/messages/add_from_quest.html.erb" %>
<br/>

<div align="center">
	<%- if @browse_score -%> 
	  <h2><%=l(:quest11_label_0)%></h2>
  <br/>

	  <div id="values"> <%=l(:quest11_valor_1)%>•
<%=l(:quest11_valor_2)%>•
<%=l(:quest11_valor_3)%>•
<%=l(:quest11_valor_4)%>•
<%=l(:quest11_valor_5)%>•
<%=l(:quest11_valor_6)%>•
  <%=l(:quest11_valor_7)%> <br/>
    <br/>
  </div>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest11)%></caption> -->
    <thead>
      <tr>
        <th>##</th>
        <th scope="col"><div align="left"><%=l(:quest11_header)%></div></th>
        <th scope="col"><%=l(:quest2_label_9)%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><%=l(:quest11_1)%></td>
        <td><div align="center"><%=@answer.answ1%></div></td>
      </tr>
      <tr class="odd">
        <td>2</td>
        <td><%=l(:quest11_2)%></td>
        <td><div align="center"><%=@answer.answ2%></div></td>
      </tr>
      <tr>
        <td>3</td>
        <td><%=l(:quest11_3)%></td>
        <td><div align="center"><%=@answer.answ3%></div></td>
      </tr>
      <tr class="odd">
        <td>4</td>
        <td><%=l(:quest11_4)%></td>
        <td><div align="center"><%=@answer.answ4%></div></td>
      </tr>
      <tr>
        <td>5</td>
        <td><%=l(:quest11_5)%></td>
        <td><div align="center"><%=@answer.answ5%></div></td>
      </tr>
      <tr class="odd">
        <td>6</td>
        <td><%=l(:quest11_6)%></td>
        <td><div align="center"><%=@answer.answ6%></div></td>
      </tr>
      <tr>
        <td>7</td>
        <td><%=l(:quest11_7)%></td>
        <td><div align="center"><%=@answer.answ7%></div></td>
      </tr>
      <tr class="odd">
        <td>8</td>
        <td><%=l(:quest11_8)%></td>
        <td><div align="center"><%=@answer.answ8%></div></td>
      </tr>
      <tr>
        <td>9</td>
        <td><%=l(:quest11_9)%></td>
        <td><div align="center"><%=@answer.answ9%></div></td>
      </tr>
      <tr class="odd">
        <td>10</td>
        <td><%=l(:quest11_10)%></td>
        <td><div align="center"><%=@answer.answ10%></div></td>
      </tr>
      <tr>
        <td>11</td>
        <td><%=l(:quest11_11)%></td>
        <td><div align="center"><%=@answer.answ11%></div></td>
      </tr>
      <tr class="odd">
        <td>12</td>
        <td><%=l(:quest11_12)%></td>
        <td><div align="center"><%=@answer.answ12%></div></td>
      </tr>
      <tr>
        <td>13</td>
        <td><%=l(:quest11_13)%></td>
        <td><div align="center"><%=@answer.answ13%></div></td>
      </tr>
      <tr class="odd">
        <td>14</td>
        <td><%=l(:quest11_14)%></td>
        <td><div align="center"><%=@answer.answ14%></div></td>
      </tr>
      <tr>
        <td>15</td>
        <td><%=l(:quest11_15)%></td>
        <td><div align="center"><%=@answer.answ15%></div></td>
      </tr>
      <tr class="odd">
        <td>16</td>
        <td><%=l(:quest11_16)%></td>
        <td><div align="center"><%=@answer.answ16%></div></td>
      </tr>
      <tr>
        <td>17</td>
        <td><%=l(:quest11_17)%></td>
        <td><div align="center"><%=@answer.answ17%></div></td>
      </tr>
      <tr class="odd">
        <td>18</td>
        <td><%=l(:quest11_18)%></td>
        <td><div align="center"><%=@answer.answ18%></div></td>
      </tr>
      <tr>
        <td>19</td>
        <td><%=l(:quest11_19)%></td>
        <td><div align="center"><%=@answer.answ19%></div></td>
      </tr>
      <tr class="odd">
        <td>20</td>
        <td><%=l(:quest11_20)%></td>
        <td><div align="center"><%=@answer.answ20%></div></td>
      </tr>
      <tr>
        <td>21</td>
        <td><%=l(:quest11_21)%></td>
        <td><div align="center"><%=@answer.answ21%></div></td>
      </tr>
      <tr class="odd">
        <td>22</td>
        <td><%=l(:quest11_22)%></td>
        <td><div align="center"><%=@answer.answ22%></div></td>
      </tr>
      <tr>
        <td>23</td>
        <td><%=l(:quest11_23)%></td>
        <td><div align="center"><%=@answer.answ23%></div></td>
      </tr>
      <tr class="odd">
        <td>24</td>
        <td><%=l(:quest11_24)%></td>
        <td><div align="center"><%=@answer.answ24%></div></td>
      </tr>
      <tr>
        <td>25</td>
        <td><%=l(:quest11_25)%></td>
        <td><div align="center"><%=@answer.answ25%></div></td>
      </tr>
      <tr class="odd">
        <td>26</td>
        <td><%=l(:quest11_26)%></td>
        <td><div align="center"><%=@answer.answ26%></div></td>
      </tr>
      <tr>
        <td>27</td>
        <td><%=l(:quest11_27)%></td>
        <td><div align="center"><%=@answer.answ27%></div></td>
      </tr>
      <tr class="odd">
        <td>28</td>
        <td><%=l(:quest11_28)%></td>
        <td><div align="center"><%=@answer.answ28%></div></td>
      </tr>
      <tr>
        <td>29</td>
        <td><%=l(:quest11_29)%></td>
        <td><div align="center"><%=@answer.answ29%></div></td>
      </tr>
      <tr class="odd">
        <td>30</td>
        <td><%=l(:quest11_30)%></td>
        <td><div align="center"><%=@answer.answ30%></div></td>
      </tr>
      <tr>
        <td>31</td>
        <td><%=l(:quest11_31)%></td>
        <td><div align="center"><%=@answer.answ31%></div></td>
      </tr>
      <tr class="odd">
        <td>32</td>
        <td><%=l(:quest11_32)%></td>
        <td><div align="center"><%=@answer.answ32%></div></td>
      </tr>
      <tr>
    </tbody>
  </table>
  <br/>
  <br/>
<%- end -%>
</div>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div> 