<!-- quest15 -->
<%=javascript_include_tag 'charts.js' %>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div>  
<center>
  <%= @chart1%>
</center>
<br/>
<div align="left">
  <h2><%=l(:quest15)%></h2>
  <h4><%= @user.name+' • '+day_name(@fechado.wday)+" "+@fecha +" • "+l(:label_filled)+' '+distance_of_time_in_words(TzTime.zone.utc_to_local(Time.now),TzTime.zone.utc_to_local(@fechado))+@time_to_fill%></h4>
  <h3><%= l(:label_competition) %></h3>
  <h4><%=@answer.competition%> </h4>
  <h3><%= l(:field_notes) %></h3>
  <h4> <%=@answer.note1%> </h4>
  <br/>
  <h3><span class=<%= '"icon icon-'+@icon[0]+'">' + l(:quest6_label_1) %></span></h3>
  <h4> <%=@advice[0]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[1]+'">' + l(:quest6_label_2) %></span></h3>
  <h4> <%=@advice[1]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[2]+'">' + l(:quest6_label_3) %></span></h3>
  <h4> <%=@advice[2]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[3]+'">' + l(:quest6_label_4) %></span></h3>
  <h4> <%=@advice[3]%> </h4>
  <h2><%=l(:quest15_label_0) %></h2>
  <h4> <%=@advice[4]%> </h4>
</div>
<br/>
<br/>
<div align="center">
  <%- if @browse_score -%>
  <div id="values"> <%=l(:quest5_valor_1)%> • <%=l(:quest5_valor_2)%> • <%=l(:quest5_valor_3)%> • <%=l(:quest5_valor_4)%> • <%=l(:quest5_valor_5)%> </div>
  <br/>
  <br/>
  <table cellspacing="0">
    <thead>
      <tr>
        <th>##</th>
        <th scope="col"><div align="left"><%=l(:quest14_header1)%></div></th>
        <th scope="col"><%=l(:quest2_label_9)%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><%=l(:quest5_1)%></td>
        <td><div align="center"><%=@answer.answ1%></div></td>
      </tr>
      <tr class="odd">
        <td>2</td>
        <td><%=l(:quest5_2)%></td>
        <td><div align="center"><%=@answer.answ2%></div></td>
      </tr>
      <tr>
        <td>3</td>
        <td><%=l(:quest5_3)%></td>
        <td><div align="center"><%=@answer.answ3%></div></td>
      </tr>
      <tr class="odd">
        <td>4</td>
        <td><%=l(:quest5_4)%></td>
        <td><div align="center"><%=@answer.answ4%></div></td>
      </tr>
      <tr>
        <td>5</td>
        <td><%=l(:quest5_5)%></td>
        <td><div align="center"><%=@answer.answ5%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <thead>
      <tr>
        <th>##</th>
        <th scope="col"><div align="left"><%=l(:quest5_header2)%></div></th>
        <th scope="col"><%=l(:quest2_label_9)%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6</td>
        <td><%=l(:quest15_6)%></td>
        <td><div align="center"><%=@answer.answ6%></div></td>
      </tr>
      <tr class="odd">
        <td>7</td>
        <td><%=l(:quest15_7)%></td>
        <td><div align="center"><%=@answer.answ7%></div></td>
      </tr>
      <tr>
        <td>8</td>
        <td><%=l(:quest15_8)%></td>
        <td><div align="center"><%=@answer.answ8%></div></td>
      </tr>
      <tr class="odd">
        <td>9</td>
        <td><%=l(:quest15_9)%></td>
        <td><div align="center"><%=@answer.answ9%></div></td>
      </tr>
      <tr>
        <td>10</td>
        <td><%=l(:quest15_10)%></td>
        <td><div align="center"><%=@answer.answ10%></div></td>
      </tr>
      <tr class="odd">
        <td>11</td>
        <td><%=l(:quest15_11)%></td>
        <td><div align="center"><%=@answer.answ11%></div></td>
      </tr>
      <tr>
        <td>12</td>
        <td><%=l(:quest15_12)%></td>
        <td><div align="center"><%=@answer.answ12%></div></td>
      </tr>
      <tr class="odd">
        <td>13</td>
        <td><%=l(:quest15_13)%></td>
        <td><div align="center"><%=@answer.answ13%></div></td>
      </tr>
      <tr>
        <td>14</td>
        <td><%=l(:quest15_14)%></td>
        <td><div align="center"><%=@answer.answ14%></div></td>
      </tr>
      <tr class="odd">
        <td>15</td>
        <td><%=l(:quest15_15)%></td>
        <td><div align="center"><%=@answer.answ15%></div></td>
      </tr>
      <tr>
        <td>16</td>
        <td><%=l(:quest15_16)%></td>
        <td><div align="center"><%=@answer.answ16%></div></td>
      </tr>
      <tr class="odd">
        <td>17</td>
        <td><%=l(:quest15_17)%></td>
        <td><div align="center"><%=@answer.answ17%></div></td>
      </tr>
      <tr>
        <td>18</td>
        <td><%=l(:quest15_18)%></td>
        <td><div align="center"><%=@answer.answ18%></div></td>
      </tr>
      <tr class="odd">
        <td>19</td>
        <td><%=l(:quest15_19)%></td>
        <td><div align="center"><%=@answer.answ19%></div></td>
      </tr>
      <tr>
        <td>20</td>
        <td><%=l(:quest15_20)%></td>
        <td><div align="center"><%=@answer.answ20%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th>
        <th scope="col"><div align="left"><%=l(:quest5_header3)%></div></th>
        <th scope="col"><%=l(:quest2_label_9)%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>21</td>
        <td><%=l(:quest14_21)%></td>
        <td><div align="center"><%=@answer.answ21%></div></td>
      </tr>
      <tr class="odd">
        <td>22</td>
        <td><%=l(:quest6_21)%></td>
        <td><div align="center"><%=@answer.answ22%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <%- end -%>

</div>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div>