<div align="center">
	<div id="signin">
  <h3><%= l(:signup_label_12) %></h3>

  <%= l(:signup_label_13) %> <br/><br/> 
  <%= l(:signup_label_14) %>
  <%= l(:signup_label_15) + " "%>Teskal.
	<p style="font-size: 93%;font-style: italic;">
<%= l(:mail_spam) %></p>
</div>

</div>