<%= error_messages_for 'journal' %>

<!--[form:journal]-->
<p><label for="journal_event">Event</label><br/>
<%= text_field 'journal', 'event'  %></p>

<p><label for="journal_created_on">Created on</label><br/>
<%= datetime_select 'journal', 'created_on'  %></p>

<p><label for="journal_ip">Ip</label><br/>
<%= text_field 'journal', 'ip'  %></p>

<p><label for="journal_country">Country</label><br/>
<%= text_field 'journal', 'country'  %></p>

<p><label for="journal_region">Region</label><br/>
<%= text_field 'journal', 'region'  %></p>

<p><label for="journal_city">City</label><br/>
<%= text_field 'journal', 'city'  %></p>

<p><label for="journal_latitude">Latitude</label><br/>
<%= text_field 'journal', 'latitude'  %></p>

<p><label for="journal_longitude">Longitude</label><br/>
<%= text_field 'journal', 'longitude'  %></p>

<p><label for="journal_organization">Organization</label><br/>
<%= text_field 'journal', 'organization'  %></p>
<!--[eoform:journal]-->

