<%= error_messages_for 'user' %>

<!--[form:user]-->
<div class="box">
<h3><%=l(:label_information_plural)%></h3>
<p><%= f.text_field :login, :required => true, :size => 25  %></p>
<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>
<p><%= f.select :language, lang_options_for_select %></p>


<!-- <p><%= f.check_box :admin %></p>
<p><%= f.check_box :mail_notification %></p> -->
</div>

<div class="box">
<h3><%=l(:label_authentication)%></h3>
<div id="password_fields" >
<p><label for="password"><%=l(:field_password)%><span class="required"></span></label>
<%= password_field_tag 'password', nil, :size => 25  %><br />
<em><%= l(:text_length_between, 4, 12) %></em></p>
<p><label for="password_confirmation"><%=l(:field_password_confirmation)%><span class="required"></span></label>
<%= password_field_tag 'password_confirmation', nil, :size => 25  %></p>
</div>
</div>
<!--[eoform:user]-->

