<% content_for :header_tags do -%>
<%= javascript_include_tag 'prototype' -%>
<%- if @user.language == "br" -%>
<%= javascript_include_tag 'validation/validation_br' -%>
<%- elsif @user.language == "ca"-%>
<%= javascript_include_tag 'validation/validation_ca' -%>
<%- elsif @user.language == "es" -%>
<%= javascript_include_tag 'validation/validation_es' -%>
<%- elsif @user.language == "eu"-%>
<%= javascript_include_tag 'validation/validation_eu' -%>
<%- elsif @user.language == "fr"-%>
<%= javascript_include_tag 'validation/validation_fr' -%>
<%- else -%>
<%= javascript_include_tag 'validation/validation' -%>
<%- end -%>
<%= stylesheet_link_tag "reset_form" -%>
<%- end -%>
<STYLE type="text/css">
.boxxq {
	float:none;
	max-width:51%
}
</STYLE>
<p><%=l(:field_login)%>: <strong><%= @user.login %></strong><br />
  <%- if @user.language == "eu" -%>
  <%= format_time(@user.created_on) %>-tan sortua
  <%- else -%>
  <%=l(:field_created_on)%>: <%= format_time(@user.created_on) %>
  <%- end -%>
</p>
<div align="center">
  <div class='boxxq'>
    <div class='boxxqtop'>
      <div> </div>
    </div>
    <div class='boxxqcontent'>
      <div class="title"><%=l(:label_information_plural)%></div>
      <p></p>
      <h4></h4>
      <form id="accountform" action="/my/account" enctype="multipart/form-data" method="post">
        <table cellspacing="0">
          <tbody>
            <tr>
              <td><label for="user_firstname"><%= l(:field_firstname) %> </label></td>
              <td><input class="required" id="user_firstname" name="user[firstname]" size="30" type="text" value="<%= @user.firstname %>" /></td>
            </tr>
            <tr>
              <td><label for="user_lastname"><%= l(:field_lastname) %> </label></td>
              <td><input class="required" id="user_lastname" name="user[lastname]" size="30" type="text" value="<%= @user.lastname %>" /></td>
            </tr>
            <tr>
              <td><label for="user_sport"><%= l(:signup_label_16) %> </label></td>
              <td><input class="required" id="user_sport" name="user[sport]" size="40" type="text" value="<%= @user.sport %>" /></td>
            </tr>
            <tr>
              <td><label for="user_mail"><%= l(:field_mail) %> </label></td>
              <td><input class="required validate-email" id="user_mail" name="user[mail]" size="40" type="text" value="<%= @user.mail %>" /></td>
            </tr>
            <tr>
              <td><label for="user_language"><%= l(:field_language) %></label></td>
              <td><%= select("user", "language", lang_options_for_select) %></td>
            </tr>
            <tr>
              <td><label for="default_timezone"><%= l(:label_timezone) %></label></td>
              <td><%= time_zone_select 'user', 'time_zone', TZInfo::Timezone.all.sort, :model => TZInfo::Timezone %></td>
            </tr>
            <tr>
              <td></td>
					<%- if @user.picture.url(:medium) !="/pictures/medium/missing.png" -%>
				<td><%= image_tag @user.picture.url(:medium) , :class  => "photoborder"%></td>    
				<%- else -%>
				   <td><%= image_tag "/images/missing.jpg" %></td>
				<%- end -%>
            </tr>
            <tr>
              <td></td>
              <td><input id="user_picture" name="user[picture]" size="30" type="file" /></td>
            </tr>
            <tr>
              <td></td>
              <td><div class="small"><%= l(:text_picture, 6, 12) %></div>
              <td>
            </tr>
          </tbody>
        </table>
  
        <center>
          <p><%= submit_tag l(:button_save) %></p>
        </center>
      </form>
      <script type="text/javascript">
		var valid3 = new Validation('accountform',{immediate : true});
	</script>
    </div> 

    <div class='boxxqbottom'>
      <div> </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<% unless @user.auth_source_id %>
<div align="center">
  <div class='boxxq'>
    <div class='boxxqtop'>
      <div> </div>
    </div>
    <div class='boxxqcontent'>
      <div class="title"><%=l(:field_password_change)%></div>
      <p></p>
      <h4></h4>
      <form id="myPassword" action="/my/change_password" method="post">
        <table cellspacing="0">
          <tbody>
            <tr>
              <td><label for="password"><%= l(:field_password) %></label></td>
              <td><input class="required" id="password" name="password" size="20" type="password" /></td>
            </tr>
            <tr>
              <td><label for="new_password"><%= l(:field_new_password) %></label></td>
              <td><input class="required validate-password" id="new_password" name="new_password" size="20" type="password" /></td>
            </tr>
            <tr>
              <td></td>
              <td><div class="small"><%= l(:text_length_between, 6, 12) %></div>
              <td>
            </tr>
            <tr>
              <td><label for="new_password_confirmation"><%= l(:field_password_confirmation) %></label></td>
              <td><input class="required validate-new-password-confirm" id="new_password_confirmation" name="new_password_confirmation" size="20" type="password" /></td>
            </tr>
          </tbody>
        </table>
        <center>
          <p><%= submit_tag l(:button_save) %></p>
        </center>
      </form>
      <script type="text/javascript">
		var valid3 = new Validation('myPassword',{immediate : true});
	</script>
      <%- end -%>
    </div>
    <div class='boxxqbottom'>
      <div> </div>
    </div>
  </div>
</div>
