<%= javascript_include_tag 'prototype' -%><%= javascript_include_tag 'effects' -%><%= javascript_include_tag 'stereotabs' -%><%= stylesheet_link_tag "reset" -%>
<%- if @libreria -%>
<script type="text/javascript">
		//<![CDATA[
		Event.observe(window, 'load', loadTabs, false);

	function loadTabs() {
	  var tabs = new tabset('container');
	  tabs.autoActivate($('tab_library'));
	}

		//]]>
	</script>
<%- else -%>
<script type="text/javascript">
	//<![CDATA[
	Event.observe(window, 'load', loadTabs, false);

function loadTabs() {
  var tabs = new tabset('container'); // name of div to crawl for tabs and panels
  tabs.autoActivate($('tab_quest')); // name of tab to auto-select if none exists in the url
}

	//]]>
	</script>
<%- end -%>

<h3><%= @athlete.name %></h3>
<style type="text/css" >
  ul#tabnav {

/*    border-bottom:2px solid #B1BA8D;
    border-top:2px solid #B1BA8D;
*/    height:35px;
    margin:0pt;
    padding:0pt;
    display:block;
    line-height:35px;

  }
  ul#tabnav li {
/*		background-color: #f7f4ee;*/
    margin:0;
    padding:0;
    float:left;
    height:35px;
    list-style-type:none;
    position:relative;
  }
  ul#tabnav li a {
    color:#A0A0A0;
    font-size:15px;
    font-weight:bold;
    line-height:25px;
    text-decoration:none;
    display:block;
    float:left;
    height:25px;
    margin:0pt 0pt 0pt 5px;
    padding:0pt 6px;
    position:relative;
  }
  ul#tabnav li a:hover, ul#tabnav li a.selected {
/*    background:#f7f4ee none repeat scroll 0%; */
    color:#523A0B;  
/*		border-bottom: 1px solid #f7f4ee;*/


  }
  .panel {
/*    background:#EAE6C9 none repeat scroll 0%;
    display:block;*/
  }
  .content1 {
    line-height:12px;
    padding:13px 35px 15px 15px;
    text-align:left;

  }
  
  /* non-tab related styles */

  #container {
    font-size:10px;
width: 300px;
  }

</style>
<%- id = @athlete.id.to_s -%>
<div class="splitcontentleft">
  <div id="container">
    <ul id="tabnav">
      <li><a href="#quest" id="tab_quest" class="tab"><%= l(:label_quest_plural) %></a></li>
      <li><a href="#library" id="tab_library" class="tab"><%= l(:label_library) %></a></li>
    </ul>
    <div id="panel_quest" class="panel" style="display:none">
      <table cellspacing="0">
        <tbody>
          <tr>
            <td>1</td>
            <td><%= l(:quest1)%></td>
            <td><a href="/quest1/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[0].id.to_s %>">	
			 	<%- if @quests[0].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>2</td>
            <td><%= l(:quest2_label_0)%></td>
            <td><a href="/quest2/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[1].id.to_s %>">	
			 	<%- if @quests[1].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr>
            <td>3</td>
            <td><%=l(:quest3)%></td>
            <td><a href="/quest3/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[2].id.to_s %>">	
			 	<%- if @quests[2].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>4</td>
            <td><%= l(:quest4)%></td>
            <td><a href="/quest4/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[3].id.to_s %>">	
			 	<%- if @quests[3].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr>
            <td>5</td>
            <td><%= l(:quest5) %></td>
            <td><a href="/quest5/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[4].id.to_s %>">	
			 	<%- if @quests[4].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>6</td>
            <td><%= l(:quest6) %></td>
            <td><a href="/quest6/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[5].id.to_s %>">	
			 	<%- if @quests[5].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr>
            <td>7</td>
            <td><%= l(:quest7_label_0) %></td>
            <td><a href="/quest7/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[6].id.to_s %>">	
			 	<%- if @quests[6].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>8</td>
            <td><%= l(:quest8_label_0) %></td>
            <td><a href="/quest8/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[7].id.to_s %>">	
			 	<%- if @quests[7].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr>
            <td>9</td>
            <td><%= l(:quest9_label_0) %></td>
            <td><a href="/quest9/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[8].id.to_s %>">	
			 	<%- if @quests[8].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>10</td>
            <td><%=l(:quest10_label_0) %></td>
            <td><a href="/quest10/new/<%= id %>"><%= image_tag 'pencil.png' %></span></a></td>
            <td> <a href="/quests/switch/<%= @quests[9].id.to_s %>">	
			 	<%- if @quests[9].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr>
            <td>11</td>
            <td><%=  l(:quest11_label_0) %></td>
            <td><a href="/quest11/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[10].id.to_s %>">	
			 	<%- if @quests[10].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
          <tr class='odd'>
            <td>12</td>
            <td><%= l(:quest12_label_0) %></td>
            <td><a href="/quest12/new/<%= id %>"><%= image_tag 'pencil.png' %></a></td>
            <td> <a href="/quests/switch/<%= @quests[11].id.to_s %>">	
			 	<%- if @quests[11].browse -%>
			 		<%= image_tag 'tick.png' %>
			 <%- else -%>
			 		<%= image_tag 'cross.png' %> 
			 <%- end -%></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="panel_library" class="panel" style="display:none">
      <table cellspacing="0">
        <thead>
          <tr>
            <th scope="col"><%= l(:label_last_updates) %></th>
            <th scope="col">##</th>
            <th scope="col"><div align="left"><%=l(:label_book)%></div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[0].updated_on))%></td>
            <td>1</td>
            <td><%= l(:unit_1_title) %></td>
            <td> <a href="/books/switch/<%= @books[0].id.to_s %>">	
		 	<%- if @books[0].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[1].updated_on))%></td>
            <td>2</td>
            <td><%= l(:unit_2_title) %></td>
            <td> <a href="/books/switch/<%= @books[1].id.to_s %>">	
		 	<%- if @books[1].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[2].updated_on))%></td>
            <td>3</td>
            <td><%= l(:unit_3_title) %></td>
            <td> <a href="/books/switch/<%= @books[2].id.to_s %>">	
		 	<%- if @books[2].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[3].updated_on))%></td>
            <td>4</td>
            <td><%= l(:unit_4_title) %></td>
            <td> <a href="/books/switch/<%= @books[3].id.to_s %>">	
		 	<%- if @books[3].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[4].updated_on))%></td>
            <td>5</td>
            <td><%= l(:unit_5_title) %></td>
            <td> <a href="/books/switch/<%= @books[4].id.to_s %>">	
		 	<%- if @books[4].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[5].updated_on))%></td>
            <td>6</td>
            <td><%= l(:unit_6_title) %></td>
            <td> <a href="/books/switch/<%= @books[5].id.to_s %>">	
		 	<%- if @books[5].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[6].updated_on))%></td>
            <td>7</td>
            <td><%= l(:unit_7_title) %></td>
            <td> <a href="/books/switch/<%= @books[6].id.to_s %>">	
		 	<%- if @books[6].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[7].updated_on))%></td>
            <td>8</td>
            <td><%= l(:unit_8_title) %></td>
            <td> <a href="/books/switch/<%= @books[7].id.to_s %>">	
		 	<%- if @books[7].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[8].updated_on))%></td>
            <td>9</td>
            <td><%= l(:unit_9_title) %></td>
            <td> <a href="/books/switch/<%= @books[8].id.to_s %>">	
		 	<%- if @books[8].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[9].updated_on))%></td>
            <td>10</td>
            <td><%= l(:unit_10_title) %></td>
            <td> <a href="/books/switch/<%= @books[9].id.to_s %>">	
		 	<%- if @books[9].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[10].updated_on))%></td>
            <td>11</td>
            <td><%= l(:unit_11_title) %></td>
            <td> <a href="/books/switch/<%= @books[10].id.to_s %>">	
		 	<%- if @books[10].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[11].updated_on))%></td>
            <td>12</td>
            <td><%= l(:unit_12_title) %></td>
            <td> <a href="/books/switch/<%= @books[11].id.to_s %>">	
		 	<%- if @books[11].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[12].updated_on))%></td>
            <td>13</td>
            <td><%= l(:unit_13_title) %></td>
            <td> <a href="/books/switch/<%= @books[12].id.to_s %>">	
		 	<%- if @books[12].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr class='odd'>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[13].updated_on))%></td>
            <td>14</td>
            <td><%= l(:unit_14_title) %></td>
            <td> <a href="/books/switch/<%= @books[13].id.to_s %>">	
		 	<%- if @books[13].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
          <tr>
            <td><%= l_date(TzTime.zone.utc_to_local(@books[14].updated_on))%></td>
            <td>15</td>
            <td><%= l(:unit_15_title) %></td>
            <td> <a href="/books/switch/<%= @books[14].id.to_s %>">	
		 	<%- if @books[14].browse -%>
		 		<%= image_tag 'tick.png' %>
		 <%- else -%>
		 		<%= image_tag 'cross.png' %> 
		 <%- end -%></a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%- TzTime.zone=@athlete.timezone -%>

<div class="splitcontentright">
  <table cellspacing="0">
    <thead>
      <tr>
        <th scope="col"><div align="left"><%=l(:label_filled) %></div></th>
        <th scope="col">##</th>
        <th scope="col"><div align="left"><%=l(:label_quest)%></div></th>
    </thead>
    <tbody>
      <%- if @answers.length == 0 -%>
    <td></td>
      <td></td>
      <td>  <%= l(:label_quest_no_filled) %> </td>
      <td></td>
      <%- else -%>
      <%- odd=0 -%>
      <%- for answer in @answers -%>
      <%- case answer.quest_id
			          when 1 
			            quest=l(:quest1) 
			          when 2 
			            quest=l(:quest2_label_0) 
			          when 3 
			            quest=l(:quest3) 
			          when 4 
			            quest=l(:quest4) 
			          when 5 
			            quest=l(:quest5) 
			          when 6 
			            quest=l(:quest6) 
			          when 7 
			            quest=l(:quest7_label_0) 
			          when 8 
			            quest=l(:quest8_label_0)  
			          when 9 
			            quest=l(:quest9_label_0)  
			          when 10 
			            quest=l(:quest10_label_0)  
			          when 11 
			            quest=l(:quest11_label_0)
			          when 12 
			            quest=l(:quest12_label_0)
			          end -%>
      <%- if odd == 1 -%>
    <tr class="odd">
      <%- odd=0-%>
      <%-else -%>
    <tr>
      <%- odd=1 end -%>
      <%- controlador="quest"+ answer.quest_id.to_s -%>
      <td><%= l_date(TzTime.zone.utc_to_local(answer.created_on))%></td>
      <td> <%= answer.quest_id.to_s %> </td>
      <td><%= link_to quest, :controller  => controlador, :action => 'show', :id => answer %></td>
      <td> <a href="/answers/switch/<%= answer.id.to_s %>">	
			      	<%- if answer.browse -%>
			      		<%= image_tag 'tick.png' %>
			      <%- else -%>
			      		<%= image_tag 'cross.png' %> 
			      <%- end -%></a>
		</td>
    </tr>
    <%- end -%>
    <%- end -%>
    </tbody>
  </table>
  <%= link_to l(:button_back),"/my/athletes" %>
</div>
