<%= stylesheet_link_tag "reset" -%>
<%- TzTime.zone=@user.timezone -%>

<div align=center> 
	<img alt="Add" src="/images/add.png"/> <a href="/users/add"> <%= l(:label_user_new)%></a> <br/>
   <img alt="Export" src="/images/page_white_excel.png"/> <a href="/reports/export"><%= l(:label_export_to)%></a>
</div>
<br/>
<div align="center">
  <table cellspacing="0">
    <!-- <caption></caption> -->
    <thead>
      <tr>
        <th scope="col"><div align="left"><%=l(:field_login)%></div></th>
        <th scope="col"><div align="left"><%=l(:field_name) %></div></th>
        <th scope="col"><div align="left"><%=l(:field_created_on)%></div></th>
        <th scope="col"><div align="left"><%=l(:field_mail)%></div></th>
        <th scope="col"><div align="left"><%=l(:field_last_login_on)%></div></th>
        <th scope="col"><div align="left"><%=l(:field_language)%></div></th>
      </tr>
    </thead>
    <tbody>
      <%- odd=0 -%>                                                                                        
      <%- for user in @users -%>
        <%- if odd == 1 -%>
      <tr class="odd">
        <%- odd=0-%>
        <%-else -%>
      <tr>
        <%- odd=1 end -%>
        <td><%= link_to user.login, :controller  => 'my', :action => 'admin', :id => user.id %></td>
        <td><%= link_to user.name, :controller  => 'my', :action => 'admin', :id => user.id %></td>
        <td><%= l_date(TzTime.zone.utc_to_local(user.created_on))%></td>
        <td><%= user.mail %></td>
        <td><div align="center"><%= distance_of_time_in_words(TzTime.zone.utc_to_local(Time.now),TzTime.zone.utc_to_local(user.last_login_on)) unless user.last_login_on.nil? %></div></td>
        <td><div align="center"><%= user.language %></div></td>
        <td><div align="center"><a href="/users/switch/<%= user.id.to_s %>">
            <%- if user.status == 3 -%>
            <%= image_tag 'lock.png' %>
            <%- else -%>
            <%= image_tag 'lock_open.png' %>
            <%- end -%>
            </a></div></td>
        <td><div align="center"><a href="/users/edit/<%= user.id.to_s %>"><%= image_tag 'pencil.png' %></a></div></td>
        <td><div align="center"><a href="/messages/show/<%= user.id.to_s %>"><%= image_tag 'comments.png' %></a></div></td>
        <td><div align="center"><a href="/my/admin/<%= user.id.to_s %>"><%= image_tag 'information.png' %></a></div></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
  </center>
</div>
