<%=javascript_include_tag 'charts.js' %>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div>
<center>
  <%= @chart1%>
</center>
<br/>
<div align="left">
  <h2><%=l(:quest1)%></h2>
  <h4><%= @user.name+' • '+day_name(@fechado.wday)+" "+@fecha +" • "+l(:label_filled)+' '+distance_of_time_in_words(TzTime.zone.utc_to_local(Time.now),TzTime.zone.utc_to_local(@fechado))+@time_to_fill%></h4>
  <h3><%= l(:field_notes) %></h3>
  <h4> <%=@answer.note5%> </h4>
  <br/>
  <h3><span class=<%= '"icon icon-'+@icon[0]+'">' +  l(:quest1_label_1) %></span></h3>
  <h4> <%=@advice[0]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[1]+'">' +  l(:quest1_label_2) %></span></h3>
  <h4> <%=@advice[1]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[2]+'">' +  l(:quest1_label_3) %></span></h3>
  <h4> <%=@advice[2]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[3]+'">' +  l(:quest1_label_4) %></span></h3>
  <h4> <%=@advice[3]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[4]+'">' +  l(:quest1_label_5) %></span></h3>
  <h4> <%=@advice[4]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[5]+'">' +  l(:quest1_label_6) %></span></h3>
  <h4> <%=@advice[5]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[6]+'">' +  l(:quest1_label_7) %></span></h3>
  <h4> <%=@advice[6]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[7]+'">' +  l(:quest1_label_8) %></span></h3>
  <h4> <%=@advice[7]%> </h4>
</div>
<br/>
<center>
  <%= @chart2%>
</center>
<div align="left">
   <h3><%= l(:quest1_label_31) %></span></h3>
<%- if @answer.answ66>0 or @answer.answ67>0 -%>
  <h4><%=@answer.note1%> </h4>   
<%- end -%>   
<%- if @answer.answ68 >0 or @answer.answ69>0 -%>
  <h4><%=@answer.note2%> </h4>   
<%- end -%>
<%- if @answer.answ70 >0 or @answer.answ71>0 -%>
  <h4><%=@answer.note3%> </h4>   
<%- end -%>
<%- if @answer.answ72 >0 or @answer.answ73>0 -%>
  <h4><%=@answer.note4%> </h4>   
<%- end -%>

 <h3><span class=<%= '"icon icon-'+@icon[8]+'">' +  l(:quest1_label_22) %></span></h3>
  <h4> <%=@advice[8]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[9]+'">' +  l(:quest1_label_23) %></span></h3>
  <h4> <%=@advice[9]%> </h4>
</div>
<br/>
<center>
  <%= @chart3%>
</center>
<div align="left">
  <h3><span class=<%= '"icon icon-'+@icon[10]+'">' +  l(:quest1_label_13) %></span></h3>
  <h4> <%=@advice[10]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[11]+'">' +  l(:quest1_label_14) %></span></h3>
  <h4> <%=@advice[11]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[12]+'">' +  l(:quest1_label_15) %></span></h3>
  <h4> <%=@advice[12]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[13]+'">' +  l(:quest1_label_16) %></span></h3>
  <h4> <%=@advice[13]%> </h4>
  <h3><span class=<%= '"icon icon-'+@icon[14]+'">' +  l(:quest1_label_17) %></span></h3>
  <h4> <%=@advice[14]%> </h4> 
</div>
<br/>
<%= render :file => "/messages/add_from_quest.html.erb" %>
<br/>
<div align="center">
	<%- if @browse_score -%> 
	  <div id="values"> <%=l(:quest3_valor_0)%> • <%=l(:quest3_valor_1)%> • <%=l(:quest3_valor_2)%> • <%=l(:quest3_valor_3)%> • <%=l(:quest3_valor_4)%> </div>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest3)%></caption> -->
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col"><%=l(:quest3_header1)%></th>
        <th scope="col"> <%= l(:quest2_label_9) %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><%=l(:quest3_1)%></td>
        <td><div align="center"><%=@answer.answ1%></div></td>
      </tr>
      <tr class="odd">
        <td>2</td>
        <td><%=l(:quest3_2)%></td>
        <td><div align="center"><%=@answer.answ2%></div></td>
      </tr>
      <tr>
        <td>3</td>
        <td><%=l(:quest3_3)%></td>
        <td><div align="center"><%=@answer.answ3%></div></td>
      </tr>
      <tr class="odd">
        <td>4</td>
        <td><%=l(:quest3_4)%></td>
        <td><div align="center"><%=@answer.answ4%></div></td>
      </tr>
      <tr>
        <td>5</td>
        <td><%=l(:quest3_5)%></td>
        <td><div align="center"><%=@answer.answ5%></div></td>
      </tr>
      <tr class="odd">
        <td>6</td>
        <td><%=l(:quest3_6)%></td>
        <td><div align="center"><%=@answer.answ6%></div></td>
      </tr>
      <tr>
        <td>7</td>
        <td><%=l(:quest3_7)%></td>
        <td><div align="center"><%=@answer.answ7%></div></td>
      </tr>
      <tr class="odd">
        <td>8</td>
        <td><%=l(:quest3_8)%></td>
        <td><div align="center"><%=@answer.answ8%></div></td>
      </tr>
      <tr>
        <td>9</td>
        <td><%=l(:quest3_9)%></td>
        <td><div align="center"><%=@answer.answ9%></div></td>
      </tr>
      <tr class="odd">
        <td>10</td>
        <td><%=l(:quest3_10)%></td>
        <td><div align="center"><%=@answer.answ10%></div></td>
      </tr>
      <tr>
        <td>11</td>
        <td><%=l(:quest3_11)%></td>
        <td><div align="center"><%=@answer.answ11%></div></td>
      </tr>
      <tr class="odd">
        <td>12</td>
        <td><%=l(:quest3_12)%></td>
        <td><div align="center"><%=@answer.answ12%></div></td>
      </tr>
      <tr>
        <td>13</td>
        <td><%=l(:quest3_13)%></td>
        <td><div align="center"><%=@answer.answ13%></div></td>
      </tr>
      <tr class="odd">
        <td>14</td>
        <td><%=l(:quest3_14)%></td>
        <td><div align="center"><%=@answer.answ14%></div></td>
      </tr>
      <tr>
        <td>15</td>
        <td><%=l(:quest3_15)%></td>
        <td><div align="center"><%=@answer.answ15%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest3)%></caption> -->
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col"><%=l(:quest1_header2)%></th>
        <th scope="col"> <%= l(:quest2_label_9) %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16</td>
        <td><%=l(:quest1_16)%></td>
        <td><div align="center"><%=@answer.answ16%></div></td>
      </tr>
      <tr class="odd">
        <td>17</td>
        <td><%=l(:quest1_17)%></td>
        <td><div align="center"><%=@answer.answ17%></div></td>
      </tr>
      <tr>
        <td>18</td>
        <td><%=l(:quest1_18)%></td>
        <td><div align="center"><%=@answer.answ18%></div></td>
      </tr>
      <tr class="odd">
        <td>19</td>
        <td><%=l(:quest1_19)%></td>
        <td><div align="center"><%=@answer.answ19%></div></td>
      </tr>
      <tr>
        <td>20</td>
        <td><%=l(:quest1_20)%></td>
        <td><div align="center"><%=@answer.answ20%></div></td>
      </tr>
      <tr class="odd">
        <td>21</td>
        <td><%=l(:quest1_21)%></td>
        <td><div align="center"><%=@answer.answ21%></div></td>
      </tr>
      <tr>
        <td>22</td>
        <td><%=l(:quest1_22)%></td>
        <td><div align="center"><%=@answer.answ22%></div></td>
      </tr>
      <tr class="odd">
        <td>23</td>
        <td><%=l(:quest1_23)%></td>
        <td><div align="center"><%=@answer.answ23%></div></td>
      </tr>
      <tr>
        <td>24</td>
        <td><%=l(:quest1_24)%></td>
        <td><div align="center">
<% if @answer.answ24==1 %>
<%=l(:general_text_Yes)%>
<% else %>
<%=l(:general_text_No)%>
<% end %>
</div></td>
      </tr>
      <tr class="odd">
        <td>25</td>
        <td><%=l(:quest1_25)%></td>
        <td><div align="center"><% if @answer.answ25==1 %>
	<%=l(:general_text_Yes)%>
	<% else %>
	<%=l(:general_text_No)%>
	<% end %>
	</div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <div id="values"> <%=l(:quest4_valor_1)%> • <%=l(:quest3_valor_2)%> • <%=l(:quest3_valor_3)%> • <%=l(:quest3_valor_4)%> <br/>
    <br/>
  </div>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th>
        <th scope="col"><div align="left"><%=l(:quest1_header2)%></div></th>
        <th scope="col"><%= l(:quest2_label_9) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 26 </td>
        <td><%=l(:quest1_26)%></td>
        <td><div align="center"><%=@answer.answ26%></div></td>
      </tr>
      <tr class="odd">
        <td> 27 </td>
        <td><%=l(:quest1_27)%></td>
        <td><div align="center"><%=@answer.answ27%></div></td>
      </tr>
      <tr>
        <td> 28 </td>
        <td><%=l(:quest1_28)%></td>
        <td><div align="center"><%=@answer.answ28%></div></td>
      </tr>
      <tr class="odd">
        <td> 29 </td>
        <td><%=l(:quest1_29)%></td>
        <td><div align="center"><%=@answer.answ29%></div></td>
      </tr>
      <tr>
        <td> 30 </td>
        <td><%=l(:quest1_30)%></td>
        <td><div align="center"><%=@answer.answ30%></div></td>
      </tr>
      <tr class="odd">
        <td> 31 </td>
        <td><%=l(:quest1_31)%></td>
        <td><div align="center"><%=@answer.answ31%></div></td>
      </tr>
      <tr>
        <td> 32 </td>
        <td><%=l(:quest1_32)%></td>
        <td><div align="center"><%=@answer.answ32%></div></td>
      </tr>
      <tr class="odd">
        <td> 33 </td>
        <td><%=l(:quest1_33)%></td>
        <td><div align="center"><%=@answer.answ33%></div></td>
      </tr>
      <tr>
        <td> 34 </td>
        <td><%=l(:quest1_34)%></td>
        <td><div align="center"><%=@answer.answ34%></div></td>
      </tr>
      <tr class="odd">
        <td> 35 </td>
        <td><%=l(:quest1_35)%></td>
        <td><div align="center"><%=@answer.answ35%></div></td>
      </tr>
      <tr>
        <td> 36 </td>
        <td><%=l(:quest1_36)%></td>
        <td><div align="center"><%=@answer.answ36%></div></td>
      </tr>
      <tr class="odd">
        <td>37</td>
        <td><%=l(:quest1_37)%></td>
        <td><div align="center"><%=@answer.answ37%></div></td>
      </tr>
      <tr>
        <td>38</td>
        <td><%=l(:quest1_38)%></td>
        <td><div align="center"><%=@answer.answ38%></div></td>
      </tr>
      <tr class="odd">
        <td>39</td>
        <td><%=l(:quest1_39)%></td>
        <td><div align="center"><%=@answer.answ39%></div></td>
      </tr>
      <tr>
        <td>40</td>
        <td><%=l(:quest1_40)%></td>
        <td><div align="center"><%=@answer.answ40%></div></td>
      </tr>
      <tr class="odd">
        <td>41</td>
        <td><%=l(:quest1_41)%></td>
        <td><div align="center"><%=@answer.answ41%></div></td>
      </tr>
      <tr>
        <td>42</td>
        <td><%=l(:quest1_42)%></td>
        <td><div align="center"><%=@answer.answ42%></div></td>
      </tr>
      <tr class="odd">
        <td>43</td>
        <td><%=l(:quest1_43)%></td>
        <td><div align="center"><%=@answer.answ43%></div></td>
      </tr>
      <tr>
        <td>44</td>
        <td><%=l(:quest1_44)%></td>
        <td><div align="center"><%=@answer.answ44%></div></td>
      </tr>
      <tr class="odd">
        <td>45</td>
        <td><%=l(:quest1_45)%></td>
        <td><div align="center"><%=@answer.answ45%></div></td>
      </tr>
      <tr>
        <td>46</td>
        <td><%=l(:quest1_46)%></td>
        <td><div align="center"><%=@answer.answ46%></div></td>
      </tr>
      <tr class="odd">
        <td>47</td>
        <td><%=l(:quest1_47)%></td>
        <td><div align="center"><%=@answer.answ47%></div></td>
      </tr>
      <tr>
        <td>48</td>
        <td><%=l(:quest1_48)%></td>
        <td><div align="center"><%=@answer.answ48%></div></td>
      </tr>
      <tr class="odd">
        <td>49</td>
        <td><%=l(:quest1_49)%></td>
        <td><div align="center"><%=@answer.answ49%></div></td>
      </tr>
      <tr>
        <td>50</td>
        <td><%=l(:quest1_50)%></td>
        <td><div align="center"><%=@answer.answ50%></div></td>
      </tr>
      <tr class="odd">
        <td>51</td>
        <td><%=l(:quest1_51)%></td>
        <td><div align="center"><%=@answer.answ51%></div></td>
      </tr>
      <tr>
        <td>52</td>
        <td><%=l(:quest1_52)%></td>
        <td><div align="center"><%=@answer.answ52%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest1)%></caption> -->
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col"><div align="left">Objetivos de la temporada</div></th>
        <th scope="col"><div align="center">Nivel de dificultad</div></th>
        <th scope="col"><div align="center">Grado de confianza en conseguirlos</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td>53</td>
        <td><div align="left"><%=simple_format(@answer.note1)%></div></td>
        <td> <div align="center"><%=@answer.answ66%></div></td>
        <td> <div align="center"><%=@answer.answ67%></div></td>
      </tr>
      <tr class="odd">
		<td>56</td>
        <td><div align="left"><%=simple_format(@answer.note2)%></div></td>
        <td> <div align="center"><%=@answer.answ68%></div></td>
        <td> <div align="center"><%=@answer.answ69%></div></td>
      </tr>
      <tr>
		<td>59</td>
        <td><div align="left"><%=simple_format(@answer.note3)%></div></td>
        <td> <div align="center"><%=@answer.answ70%></div></td>
        <td> <div align="center"><%=@answer.answ71%></div></td>
      </tr>
      <tr class="odd">
		<td>62</td>
        <td><div align="left"><%=simple_format(@answer.note4)%></div></td>
        <td> <div align="center"><%=@answer.answ72%></div></td>
        <td> <div align="center"><%=@answer.answ73%></div></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:quest1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th>
        <th scope="col"><div align="left"><%=l(:quest1_header4)%></div></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>65</td>
        <td><%=l(:quest1_53)%></td>
        <td><div align="center"><%=@answer.answ53%></div></td>
      </tr>
      <tr class="odd">
        <td>66</td>
        <td><%=l(:quest1_54)%></td>
        <td><div align="center"><%=@answer.answ54%></div></td>
      </tr>
      <tr>
        <td>67</td>
        <td><%=l(:quest1_55)%></td>
        <td><div align="center"><%=@answer.answ55%></div></td>
      </tr>
      <tr class="odd">
        <td>68</td>
        <td><%=l(:quest1_56)%></td>
        <td><div align="center"><%=@answer.answ56%></div></td>
      </tr>
      <tr>
        <td>69</td>
        <td><%=l(:quest1_57)%></td>
        <td><div align="center"><%=@answer.answ57%></div></td>
      </tr>
      <tr class="odd">
        <td>70</td>
        <td><%=l(:quest1_58)%></td>
        <td><div align="center"><%=@answer.answ58%></div></td>
      </tr>
      <tr>
        <td>71</td>
        <td><%=l(:quest1_59)%></td>
        <td><div align="center"><%=@answer.answ59%></div></td>
      </tr>
      <tr class="odd">
        <td>72</td>
        <td><%=l(:quest1_60)%></td>
        <td><div align="center"><%=@answer.answ60%></div></td>
      </tr>
      <tr>
        <td>73</td>
        <td><%=l(:quest1_61)%></td>
        <td><div align="center"><%=@answer.answ61%></div></td>
      </tr>
      <tr class="odd">
        <td>74</td>
        <td><%=l(:quest1_62)%></td>
        <td><div align="center"><%=@answer.answ62%></div></td>
      </tr>
      <tr>
        <td>75</td>
        <td><%=l(:quest1_63)%></td>
        <td><div align="center"><%=@answer.answ63%></div></td>
      </tr>
      <tr class="odd">
        <td>76</td>
        <td><%=l(:quest1_64)%></td>
        <td><div align="center"><%=@answer.answ64%></div></td>
      </tr>
    <thead>
      <tr>
        <th scope="col">##</th>
        <th scope="col"><div align="left"><%=l(:quest1_header5)%></div></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tr>
      <td>77</td>
      <td><%=l(:quest1_65)%></td>
      <td><div align="center"><%=@answer.answ65%></div></td>
    </tr>
    </tbody>
  </table>
  <br/>
  <br/>
<%- end -%>
</div>
<div align="right"> <%= link_to l(:button_back),session[:return_to_params] %> </div> 