<% content_for :header_tags do -%>
<%= javascript_include_tag 'prototype' -%>
<%- case current_language -%>
<%- when :br -%>
<%= javascript_include_tag 'validation/validation_br' -%>
<%- when :ca -%>
<%= javascript_include_tag 'validation/validation_ca' -%>
<%- when :es -%>
<%= javascript_include_tag 'validation/validation_es' -%>
<%- when :eu -%>
<%= javascript_include_tag 'validation/validation_eu' -%>
<%- when :fr -%>
<%= javascript_include_tag 'validation/validation_fr' -%>
<%- else -%>
<%= javascript_include_tag 'validation/validation' -%>
<%- end -%>
<%= stylesheet_link_tag "reset_form" -%>
<%- end -%>
<STYLE type="text/css">
.boxxq {
	max-width:40%;
}
</STYLE>
<div align="center">
<div class='boxxq'>
<div class='boxxqtop'>
  <div> </div>
</div>
<div class='boxxqcontent'>
<div class="title"><%=l(:label_password_lost)%></div>
<p></p>
<h4></h4>
<form id="accountform" action="/account/lost_password" method="post">
<table cellspacing="0">
  <tbody>
    <tr>
      <td><label for="mail"><%=l(:field_mail)%></label></td>
      <td><input class="required validate-email" id="mail" name="mail"  size="30" type="text" /></td>
    </tr>
  </tbody>
</table>
<center>
  <%= submit_tag l(:button_save) %>
</center>
<script type="text/javascript">
	var valid3 = new Validation('accountform',{immediate : true});
</script>
</div>
<div class='boxxqbottom'>
  <div> </div>
</div>
</div>
</div>
