<% content_for :header_tags do -%>
<%= javascript_include_tag 'prototype' -%>
<%- if @user.language == "br" -%>
<%= javascript_include_tag 'validation/validation_br' -%>
<%- elsif @user.language == "ca"-%>
<%= javascript_include_tag 'validation/validation_ca' -%>
<%- elsif @user.language == "es" -%>
<%= javascript_include_tag 'validation/validation_es' -%>
<%- elsif @user.language == "eu"-%>
<%= javascript_include_tag 'validation/validation_eu' -%>
<%- elsif @user.language == "fr"-%>
<%= javascript_include_tag 'validation/validation_fr' -%>
<%- else -%>
<%= javascript_include_tag 'validation/validation' -%>
<%- end -%>
<%= stylesheet_link_tag "reset_form" -%>
<%- end -%>
<STYLE type="text/css">
.boxxq {
	max-width:45%;
}
</STYLE>
<div align="center">
<div class='boxxq'>
<div class='boxxqtop'>
  <div> </div>
</div>
<div class='boxxqcontent'>
<div class="title"><%=l(:label_password_lost)%></div> 
<p></p>
<h4></h4>
<p><%=l(:field_login)%>: <strong><%= @user.login %></strong></p>
<form id="accountform" action="/account/lost_password?token=<%= @token.value %>" method="post">
<table cellspacing="0">
  <tbody>
    <tr>
      <td><label for="password"><%=l(:field_new_password)%></label></td>
      <td><input class="required validate-password" id="new_password" name="new_password"  size="25" type="password" tabindex="5" /></td>
    </tr>
    <tr>
      <td><label for="new_password_confirmation"><%=l(:field_password_confirmation)%></label></td>
      <td><input class="required validate-password-confirm" id="password_confirmation" name="password_confirmation" size="25" type="password" tabindex="6" /></td>
    </tr>
    <tr>
  </tbody>
</table>
  <center>
    <p><%= submit_tag l(:button_save) %></p>
  </center>
</form>       
<script type="text/javascript">
	var valid3 = new Validation('accountform',{immediate : true});
</script>
    </div>
    <div class='boxxqbottom'>
      <div> </div>
    </div>
  </div>
</div>
