<STYLE type="text/css">
<!--
body {
	font: 1em/100% sans-serif;
	font-size: 12px;
}
table {
	font:normal 90% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	border-collapse:separate;
	border-spacing:0;
	margin:0 0 1em;
	color:#000;
}
table a {
	color:#523A0B;
}
table a:hover {
	border-bottom-style:1px dotted;
	background:none;
	text-decoration:none;
	color:#523A0B;
}
thead th, thead td {
	border:1px solid #523A0B;
	border-width:1px 0;
	background:#EBE5D9;
	padding:0.40em 0.5em;
}
th {
	font-weight:bold;
	line-height:normal;
	padding:0.25em 0.25em;
	text-align:center;
}
tbody th, td {
	padding:0.15em;
	text-align:left;
	vertical-align:top;
	color:#523A0B;
	font-size: 10px;
	font-family: Lucida Grande;
}
tbody th {
	font-weight:normal;
	white-space:nowrap;
}
tbody th a:link, tbody td, tbody th {
	border:1px solid #fff;
	border-width:1px;
	border-color:#EBE5D9;
}
tbody tr.odd th, tbody tr.odd td {
	border-color:#EBE5D9;
	background:#F7F4EE;
}
tbody tr:hover td, tbody tr:hover th {
	background:#ffffee;
	border-color:#523A0B;
}
-->
</STYLE>
<h3>Users <%= @users %> - Quests <%= @quests %> - Emails <%= @emails %></h3>
<!-- <h3><a href="/rails/info/properties" onClick="about(); return false">About your application&rsquo;s environment</a></h3> -->
<table cellspacing="0">
  <tbody>
  <thead>
    <tr>
      <th scope="col"><div align="left">name</div></th>
      <th scope="col"><div align="left">timezone</div></th>
      <th scope="col"><div align="left">lg</div></th>
      <th scope="col"><div align="left">status</div></th>
      <th scope="col"><div align="left">role</div></th>
      <th scope="col"><div align="left">managed_by</div></th>
      <th scope="col"><div align="left">event</div></th>
      <th scope="col"><div align="left">2fill</div></th>
      <th scope="col"><div align="left">date</div></th>
      <th scope="col"><div align="left">co</div></th>
      <th scope="col"><div align="left">city</div></th>
      <th scope="col"><div align="left">org</div></th>
    </tr>
  </thead>
  <%- odd=0 -%>
  <%- nope=0 -%>
  <% for journal in @journals %>
  <%- if odd == 1 -%>
  <tr class="odd">
    <%- odd=0-%>
    <%-else -%>
  <tr>
    <%- odd=1 end -%>
    <%- if journal.user_id >0 -%>
    <%- user = User.find(journal.user_id) -%>
    <%- accion = "/my/admin/"+user.id.to_s -%>
    <td><div align="left"><a href=<%= accion %>><%= user.firstname + " " +user.lastname %></div></td>
    <%- TzTime.zone=user.timezone -%>
    <td><div align="left"><%=user.timezone %></div></td>
    <td><div align="left"><%=user.language %></div></td>
    <td><div align="left">
        <%- case user.status -%>
        <%- when 1: -%>
        active
        <%- when 2: -%>
        registered
        <%- when 3: -%>
        locked
        <%- end -%>
      </div></td>
    <td><div align="left">
        <%- case user.role -%>
        <%- when 1: -%>
        gratis
        <%- when 2: -%>
        athlete
        <%- when 3: -%>
        coach
        <%- when 4: -%>
        tutor
        <%- end -%>
      </div></td>
    <%- if !user.managed_by.nil? and user.role == 2-%>
    <%- manager = User.find(user.managed_by) -%>
    <%- accion = "/my/athletes/"+manager.id.to_s -%>
    <td><div align="left"><a href=<%= accion %>><%= manager.firstname + " " +manager.lastname %></div></td>
    <%- else -%>
    <td></td>
    <%- end -%>
    <%- else -%>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <%- end -%>
    <%- time_taken = 0 -%>
    <%- if journal.event[0,3]=='add'
	 paso = journal.event.split('/') 
	 accion = "/users/edit/"+ paso[2] -%>
    <td><a href=<%= accion %>><%= journal.event %></td>
    <%- elsif journal.event[0,1]=='q'
                       paso = journal.event.split('/') 
                       accion = "/"+paso[0]+"/show/"+ paso[2]-%>
    <td><a href=<%= accion %>><%= journal.event %></td>
    <%- 	if paso[1]=='create'
		answer=Answer.find(paso[2])
			if  answer.time_to_fill.nil?
				time_taken = 0
			else
				time_taken = l_time(answer.time_to_fill)
			end
		end  -%>
    <%- elsif journal.event[0,1]=='b'
  	                       paso = journal.event.split('/') 
	                       accion = "/my/admin/"+paso[2]-%>
    <td><a href=<%= accion %>><%= journal.event %></td>
    <%- else -%>
    <td><%= journal.event %></td>
    <%- end -%>
    <td><%= time_taken %></td>
    <td><%= l_datetime(TzTime.zone.utc_to_local(journal.created_on)) %></td>
    <td><%= journal.country %></td>
    <td><%= journal.city %></td>
    <td><%= journal.organization %></td>
  </tr>
  <% end %>
  </tr>
  
  </tbody>
  
</table>
<%= will_paginate @journals %>