<% content_for :header_tags do -%>
<%= javascript_include_tag 'prototype' -%>
<%- if @logged_in_user.language == "br" -%>
<%= javascript_include_tag 'validation/validation_br' -%>
<%- elsif @logged_in_user.language == "ca"-%>
<%= javascript_include_tag 'validation/validation_ca' -%>
<%- elsif @logged_in_user.language == "es" -%>
<%= javascript_include_tag 'validation/validation_es' -%>
<%- elsif @logged_in_user.language == "eu"-%>
<%= javascript_include_tag 'validation/validation_eu' -%>
<%- elsif @logged_in_user.language == "fr"-%>
<%= javascript_include_tag 'validation/validation_fr' -%>
<%- else -%>
<%= javascript_include_tag 'validation/validation' -%>
<%- end -%>
<%= stylesheet_link_tag "reset_form" -%>  
<%- end -%>
<STYLE type="text/css">
.boxxq {max-width:54%;}
</STYLE>
<div align="center">
  <div class='boxxq'>
    <div class='boxxqtop'>
      <div> </div>
    </div>
    <div class='boxxqcontent'>
  	<div class="title"><%= l(:label_user_new) %></div>
   <p></p>
   <h4></h4>  
      <form id="accountform" action="/users/add" method="post">
			   <table cellspacing="0">
          <tbody>
            <tr>
              <td><label for="user_firstname"><%= l(:field_firstname) %> </label></td>
              <td><input class="required" id="user_firstname" name="user[firstname]" size="30" type="text" value="" tabindex="1"/></td>
            </tr>
            <tr>
              <td><label for="user_lastname"><%= l(:field_lastname) %> </label></td>
              <td><input class="required" id="user_lastname" name="user[lastname]" size="30" type="text" value="" tabindex="2"/></td>
            </tr>
            <tr>
              <td><label for="user_sport"><%= l(:signup_label_16) %> </label></td>
              <td><input class="required" id="user_sport" name="user[sport]" size="40" type="text" value="" tabindex="3"/></td>
            </tr>
            <tr>
              <td><label for="user_mail"><%=l(:field_mail)%></label></td>
              <td><input class="required validate-email" id="user_mail" name="user[mail]"  size="40" type="text" value="" tabindex="4" /></td>
            </tr  
 				<tr>
					<td colspan="2"><hr></td>
				</tr>
				<tr>
              <td><label for="user_login"><%=l(:field_user)%></label></td>
              <td><input class="required" id="user_login" name="user[login]"  size="30" type="text" value="" tabindex="5"/></td>
            </tr>
            <tr>
              <td><label for="password"><%=l(:field_password)%></label></td>
              <td><input class="required validate-password" id="password" name="password"  size="20" type="password" tabindex="6" /></td>
            </tr>
            <tr>
              <td><label for="password"><%=l(:field_password_confirmation)%></label></td>
              <td><input class="required validate-password-confirm" id="password_confirmation" name="password_confirmation" size="20" type="password" tabindex="7" /></td>
            </tr>
 				<tr>
					<td colspan="2"><hr></td>
				</tr>
            <tr>
              <td><label for="user_language"><%=l(:field_language)%> </label></td>
              <td><%= select("user", "language", lang_options_for_select) %> </td>
            </tr>
            <tr>
              <td><label for="default_timezone"><%= l(:label_timezone) %></label></td>
              <td><%= time_zone_select 'user', 'time_zone', TZInfo::Timezone.all.sort, :model => TZInfo::Timezone %> </td>
            </tr>
          </tbody>
        </table>
	   <h4></h4>
      <center>
        <p><input name="commit" type="submit" tabindex="7" value="<%= l(:button_submit) %>"/></p>
      </center>
      </form>
      <script type="text/javascript">
	var valid3 = new Validation('accountform',{immediate : true});
</script>
    </div>
    <div class='boxxqbottom'>
      <div> </div>
    </div>
  </div>
</div>
